*{
    padding: 0px;
    margin: 0px;
}
.header{
    
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    justify-content: space-between;
}
nav img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.nav_img{
    padding-left: 80px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.nav_img h4{
    padding-left: 35px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(27, 27, 94);
}
.nav_link{
    display: flex;
    align-items: center;
}
.nav_link ul li{
    display: inline;
    padding-right: 60px;

}
.nav_link ul li a{
    color: rgb(27, 27, 94);
    gap: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
/*-----------------NAvbar End------------------------*/
.main{
    height: 900px;
    width: 100%;
    background-color: white;
    background-size: cover;
    position: relative;
}
.main_pic{
    height: 300px;
    width: 400px;
    float: right;
    padding-right: 60px;
    border-radius: 10px;
}
.main_pic img{
    background-color: whitesmoke;
    border-radius: 10%;
}
.main_text1{
     /* height: 40px; */
    width: 500px;
    /* background-color: rgb(114, 138, 59); */
    background-color: #E7F6FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 30px;
    padding: 5px;
}
.main_text1 button{
    height: 32px;
    width: 100px;
    background-color: #094B72;
    justify-content: flex-start;
    margin-left: 05px;
    color: white;
    border-radius: 30px;
    border: none;
}
.main_text1 p{
    margin-top: 10px;
    margin-left: 05px;
    color: #193E6C;
}
.main_text2{
    margin-top: 60px;
    margin-left: 150px;
}
.main_text2 h1{
    font-size: 70px;
    color: #094B72;
    font-weight: bold;
    
}
.main_text2 p{
    font-size: 24px;
    font-weight: 500px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4F4F4F;
}
.main_text2 button{
    margin-top: 50px;
    height: 60px;
    width: 150px;
    background-color: #094B72;
    color: white;
    border-radius: 10px;
    border: none;
}